.main {
  margin: 50px 0;
}
.name {
  display: flex;
  align-items: center;
  gap: 20px;
  h3 {
    font-size: 25px;
    font-weight: 300;
  }
  div {
    height: 1px;
    width: 300px;
    background-color: #ff33cc;
  }
}
.content {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.right {
  max-width: 600px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
  flex-wrap: wrap;
  align-items: flex-start;
}
