.main {
  border: 1px solid #fff;
  width: 200px;
  letter-spacing: 1px;
  margin: 0 10px;
  h2 {
    padding: 10px;
    border-bottom: 1px solid #fff;
  }
  p {
    padding: 10px;
    color: #abb2bf;
  }
}
